.btn {

    background-color: transparent;
    color: var(--white);

    border: 2px solid var(--white);

    outline: none;

    padding: 10px 14px;
    border-radius: 4px;

    font-weight: 700;
    font-size: 1.05rem;

    transition: .2s ease-out all;
}

.btn:hover:not(:disabled) {
    cursor: pointer;
    border-color: var(--accent-color);
    background-color: var(--accent-color);
}

.btn:active:not(:disabled) {
    transform: scale(0.95);
}

.btn:disabled {
    background-color: #505050dc;
}