.App {
  background-color: #252225;
  min-height: 100vh;
  color: #fff;

  font-family: 'Roboto';

  --accent-color: #d85ca0;
  --accent-color-rgb: 216, 92, 160;
}

/* HEADERS */
.h {
  margin: 0; padding: 0;

  text-shadow: 2px 2px 1px #d85ca0;
}

/* A */
.na {
  text-decoration: none;
  color: #fff;
}

/* OTHER */
.selectable {
  display: block;
  border-radius: 4px;
  padding: 5px;
}

.selectable:focus, .selectable:hover {
  background-color: rgba(255, 255, 255, .2);
}

.selectable:active {
  transform: scale(.9);
}